body {
  background-color: rgb(172, 255, 234);
  margin: 10%;

}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: 'Times New Roman';
  font-size: 18px;
  border: 2px solid;
  border-radius: 20%;
  border-color:darkcyan;
  padding: 5%
}

ul {
  background-color:whitesmoke;
  padding: 5%;
  border: 2px solid rgb(172, 255, 234);
  border-radius: 20%;
}

.bio {
  background-color:rgb(24, 224, 181);
  border: 2px hidden;
  border-radius: 20%;
}

hr {
  border: none;
  background-color:darkcyan;
  height: 4px;
}

#ronaldmcdonald {
  width: 30%;
  height: auto;
  margin-left: 20%;
  margine-right: 20%;
}