body {
  background-color: rgb(172, 255, 234);
  margin: 10%;

}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: 'Times New Roman';
  font-size: 18px;
  border: 2px solid;
  border-radius: 20%;
  padding: 5%
}

ul {
  background-color:beige;
  padding: 5%;
}

.bio {
  background-color:aqua;
  border: 2px hidden;
  border-radius: 20%;
}

hr {
  border: none;
  background-color:darkcyan;
  height: 4px;
}

